version: "3.9"

services:
  backend:
    container_name: crm-backend-container
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ${DOCKERHUB_USERNAME}/crm-backend:latest
    ports:
      - "2025:2025"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - crm-network

  frontend:
    container_name: crm-frontend-container
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
    image: ${DOCKERHUB_USERNAME}/crm-frontend:latest
    ports:
      - "4000:80"
    environment:
      - VITE_APP_API_URL=http://backend:2025/api
    depends_on:
      - backend
    networks:
      - crm-network

networks:
  crm-network:
    driver: bridge
