services:
  mysqldb:
    image: mysql:8.0
    container_name: crm-mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crm_db
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - crm-network
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    container_name: crm-backend-container
    # Use the image from your Docker Hub registry
    image: gowthamsaikorada/crm-backend:latest
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/crm_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - JWT_SECRET=YourSuperSecretKeyForThisCRMApplicationWhichIsVeryLongAndSecureAndBase64Encoded
    ports:
      - "2025:2020"
    networks:
      - crm-network

  frontend:
    container_name: crm-frontend-container
    # Use the image from your Docker Hub registry
    image: gowthamsaikorada/crm-frontend:latest
    ports:
      - "4000:80"
    networks:
      - crm-network
    depends_on:
      - backend

networks:
  crm-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local