services:
  mysqldb:
    image: mysql:8.0
    container_name: crm-mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crm_db
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - crm-network
    ports:
      - "3307:3306" # Exposing on 3307 to avoid conflicts with local MySQL on 3306
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    container_name: crm-backend-container
    build:
      context: ./backend/CRMApplication
      dockerfile: backend.Dockerfile
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/crm_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    ports:
      - "2025:2020"
    networks:
      - crm-network

  frontend:
    container_name: crm-frontend-container
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
      args:
        - VITE_APP_API_URL=http://localhost:2025/api
    ports:
      - "4000:80"
    networks:
      - crm-network
    depends_on:
      - backend

networks:
  crm-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local

